@media (max-width: 480px) {
	header {
		font-size: 20px;
		min-width: 100%;
	}
}


html, body {
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
	width: 100%;
	min-width: 100%;
	background: #FFFFFF;
}

nav {
	height: 10%;
	width: 100%;
	min-height: 60px;
	margin-bottom: 6%;
	background: #474741;
	color: black;
}

nav a {
	text-decoration: none;
	color: white;
}


.leftnav {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.rightnav {
	float: right;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}


header {
	margin-top: -6%;
	margin-bottom: 0;
	min-width: 100%;	
	white-space: nowrap;
	background: #FFFFFF;
	color: #063979;
	padding-left: 5%;
	overflow: visible;
	padding-top: 1%;
	font-weight: bold;
	border-bottom: 5px solid #020202;
	font-size: 35px;
}

header img {
	float: right;
	overflow: hidden;
	padding-right: 10%;
	margin-top: -5%;
	padding-top: 0%;
}


#icons {
	float: right;
	clear: both;
	height: 60%;
	padding-right: 8%;	
	padding-top: 5%;
	padding-bottom: 5%;
}

#icons img {
	display: table-column;
	vertical-align: middle;
	padding-top: 2%;
	padding-bottom: 2%;
}

#content {
	float: left;
	width: 60%;
	height: 60%;
	padding-bottom: 10%;
	padding-left: 10%;
}

#content h3 {
	font-size: 25px;
}

#content ul {
	margin-top: -5%;
}

#content li {
/* display: inline-block; */
margin: 5%;
/* width: 20%; */
border-radius: 10%;
font-size: 120%;
/* text-align: center; */
/* padding: 10% 5% 10% 5%; */
/* background-color: #B4DCED; */
}

#content a {
	text-decoration: none;
	color: black;
}

#content a:visited {
	color: #2B82AD;

}


footer {
	clear: both;
	bottom: 0;
	min-height: 25px;
	text-align: center;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #474741;
}





